@import 'styles/_variables.scss';

.container {
  padding: $spacing-medium;
  margin-bottom: $spacing-medium;
  border: 1px solid $clr-grey-light;
  display: flex;
}

.image {
  object-fit: cover;
  width: 90px;
  height: 72px;
}

.content {
  margin-left: $spacing-large;
}

.title {
  font-size: $font-size-large;
  font-weight: 700;
  margin: 0 0 $spacing-medium;
}

.description {
  font-size: $font-size-medium;
  margin: 0 0 $spacing-medium;
}

.viewMore {
  font-size: $font-size-medium;
  color: $clr-orange-light;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.contentFixture {
  font-size: 0;
  background-color: $clr-grey-light;
  max-width: 500px;
  width: 100%;
}

.loader {
  composes: container;

  .image {
    background-color: $clr-grey-light;
  }

  .content {
    width: 100%;
    max-width: 300px;
  }

  .title,
  .description,
  .viewMore {
    font-size: 0;
    background-color: $clr-grey-light;
    height: 20px;
  }

  .description {
    height: 14px;
  }

  .viewMore {
    height: 14px;
    max-width: 100px;
    display: block;
  }
}
