$grey-light: #ededed;
$grey-dark: #4a4a4a;
$orange-light: #ea7f28;
$orange-dark: #d37324;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-xlarge: 32px;

$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 24px;

$font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
