@import './_variables.scss';
@import '~reset-css/sass/_reset.scss';

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $clr-grey-dark;
}
