@import 'styles/_variables.scss';

.container {
  padding: $spacing-large;
  display: flex;
  max-width: 1200px;
}

.sidebar {
  flex: 1 1 33.33%;
  margin-right: $spacing-large;
}

.mainContent {
  flex: 1 1 66.66%;
}

.header {
  margin-bottom: $spacing-large;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: $font-size-large;
  font-weight: 700;
  margin: 0 0 $spacing-medium;
}

.subTitle {
  font-size: $font-size-large;
  margin: 0;
}

.sortDropdown {
  flex: 0 1 250px;
}

.list {
}
